body {
  font-family: "DM Sans", sans-serif;
}
/* Header */

.header {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.logo {
  width: 83px;
}

.search_bar {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  width: 400px;
  height: 32px;
  padding: 0 20px;
  flex: 1;
  margin: 0 30px;
  border: none;
  outline-style: none;
  background-color: rgb(241, 241, 241);
}

.front {
  width: 1425px;
}

/* Menu */
.under_menu {
  margin: 30px 130px;
  padding: 12px 16px;
}

.button {
  font-family: "DM Sans", sans-serif;
  color: rgb(155, 155, 155);
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 0px 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button:hover {
  background-color: #09b1ba;
  color: white;
}

/* Link */
a {
  text-decoration: none;
}

/* Elements img textes sur home */

.elems {
  margin: 0 auto;
  width: 200px;
}
.elements_home {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1200px;
  gap: 20px;
}
.img_home {
  object-fit: cover;
  align-items: center;
  height: 300px;
  width: 200px;
}
.img_home:hover {
  opacity: 80%;
  transition: opacity 0.5s ease-in-out;
}
.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-top: 20px;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
  margin: 15px 120px;
}

/* Prix articles */
h2 {
  font-size: 20px;
  color: black;
}

/* Description / nom produit */
h3 {
  color: lightgray;
}

.name_pdt {
  font-size: 30px;
  margin-bottom: 20px;
}

/* Header */
.inscrire,
.login {
  font-family: "DM Sans", sans-serif;
  color: #09b1ba;
  border: 1px solid currentColor;
  background: none;
  width: 100px;
  height: 28px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.sell {
  font-family: "DM Sans", sans-serif;
  background: #09b1ba;
  border: none;
  width: 150px;
  height: 28px;
  font-size: 12px;
  text-align: center;

  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

/* Hover */

.login:hover {
  background: #09b1ba;
  color: white;
  transition: 0.3s ease-in-out;
}

.inscrire:hover {
  background: #09b1ba;
  color: white;
  transition: 0.3s ease-in-out;
}

.sell:hover {
  color: #09b1ba;
  border: 1px solid currentColor;
  background: none;
  transition: 0.3s ease-in-out;
}

/* Offer */

.price {
  font-size: 30px;
}

.offer_page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* p.404 */

.bad_getaway {
  text-align: center;
  margin: 0 auto;
}

.not_found {
  font-size: 200px;
  color: #09b1ba;
}

.gb {
  font-size: 50px;
  line-height: 200px;
  text-decoration: none;
  color: black;
}

.login_form {
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  color: #09b1ba;
}

.no_count {
  color: blueviolet;
  font-size: 40px;
  line-height: 200px;
}

.no_count:hover {
  text-decoration: underline;
}

.signup_form {
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  color: #09b1ba;
}

.deconnexion {
  color: white;
  background: blueviolet;
  border-radius: 5px;
  line-height: 20px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
